@media  (max-width: 639px){
    

    .navigation.open  {
        align-items: center;
        background-color: #22181C;
        display:flex ;
        margin-top: 50px;
        float: right;
        border-radius: 80px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        font-size: 20px;
        height: auto;
        width: 300px;
        
    }
    header {
        align-items: center;
        grid-template-columns: 1fr;

    }
    nav ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        width: 100%; 
        text-align: center;
    }

    nav ul li {
        flex: 1 1 100%;
        flex-direction: column;
    }
    a {
        text-decoration: none;
        font-family: var(--heading-font);
        padding: 10px;
        color: #ec7c84;
        font-size: 25px;
        text-align: center;
        flex-direction: column;

    }
    .navigation{
        display: none;
    }
    h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 900;
    
    }
    #menu {
        font-size: 3rem;
        border: 0;
        background: none;
        color: #000;
        position: relative;
        display: inline;
       
    
    }
    .button-box{
        align-items: center;
    }
    a.book{
        margin:0;
        font-size: 25px;
        padding: 0;
        align-items: center;
    }
    footer{
        background-color: rgb(236, 124, 132);
        color: #FFE4D1;
        padding: 10px 5px;
        min-height: 50px;
        display: grid;
        justify-content: space-around;
        align-items: center;
    }
    footer P {
        font-size: 15px;
    }

    footer .social img {
        padding: 10px 10px;
        padding-bottom: 0;
        width: 50px;
        
    }
    .text{
        display: none;
    }
    #photo1 {
        max-width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    main.page-discover {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    .membership-benefits {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr;
        
        
    }
    .directory ul{
        display: grid;
        grid-template-columns: 1fr;
    }
}