@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Zeyada&display=swap');

:root {
    --font-family: 'Karla', sans-serif;
    --main-font-size: 25px;
    --main-color: #333;
    --background-color: #f0f0f0;
    --header-background-color: rgb(10, 61, 10);
    --nav-text-color: #030c03;
}

body {
    font-family: var(--font-family);
    font-size: var(--main-font-size);
    line-height: 1.6;
    color: var(--main-color);
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--header-background-color);
    text-align: center;
    padding: 20px;
}

header img {
    display: inline-block;
    vertical-align: middle;
    max-width: 250px;
}

header h1 {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    font-family: 'Zeyada', cursive;
    font-size: 50px;
}

.navigation ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 25px;
    font-weight: 700;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    left: 1rem;
}


main {

    margin: 0 auto;
    display: inline;
    grid-gap: 20px;
}

.card {

    padding: 20px;
    background-color: #c0f0bc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 60vh;
    border-radius: 8px;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(10, 61, 10);
    color: #fff;
    margin-top: 50px;
}

.navigation a:hover {
    background-color: #bbb;
    color: #4b4a4a;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px;

}
#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}
.navigation a:hover::before {
    content: "🔶";
}

.open a {
    display: block;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}
.recordmes{
    display: grid;
    grid-template-columns: 1fr;
}
#map {
    max-width: 550px;
    height: 275px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.mapboxgl-canvas {
    max-width: 550px;
    height: 275px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
#weatherInfo {
    text-align: center;
}
.mapboxgl-control-container {
    display: none;
}


@media (max-width: 639px) {


    .navigation.open {
        background-color: #c0f0bc;
        text-align: center;
        padding: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    .navigation {
        display: none;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 900;
    }

    .hero {
        margin: 10px auto;
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1);

        grid-column: span 2;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        
    }

    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 1.5rem;
        font-family: "Great Vibes", serif;
    }

    

}